In [1]:
SELECT Distinct(Department) FROM Employee

Department
Advertising
Production
Sales
Shipping

In [2]:
ALTER TABLE Employee 
ADD Location NVARCHAR(Max)

In [3]:
SELECT * FROM Employee

Emp_id,Name,Department,Hire_date,Training,Location
1234,J. Jones,Sales,1992-06-18,24,NULL
2345,S. Smith,Production,1998-02-12,40,NULL
3456,A. Adams,Sales,1998-11-18,60,NULL
4567,B. Bates,Advertising,1985-03-10,16,NULL
5678,D. Davis,Production,1999-07-26,56,NULL
6789,C. Cole,Shipping,1991-08-18,32,NULL
7890,E. Elllis,Sales,1998-12-15,80,NULL
8901,F. Files,Advertising,1990-10-17,24,NULL
9012,G. Gates,Advertising,1999-03-15,48,NULL

In [4]:
sp_rename 'Employee.Emp_id','EployeeId'

In [5]:
SELECT * FROM Employee

EployeeId,Name,Department,Hire_date,Training,Location
1234,J. Jones,Sales,1992-06-18,24,NULL
2345,S. Smith,Production,1998-02-12,40,NULL
3456,A. Adams,Sales,1998-11-18,60,NULL
4567,B. Bates,Advertising,1985-03-10,16,NULL
5678,D. Davis,Production,1999-07-26,56,NULL
6789,C. Cole,Shipping,1991-08-18,32,NULL
7890,E. Elllis,Sales,1998-12-15,80,NULL
8901,F. Files,Advertising,1990-10-17,24,NULL
9012,G. Gates,Advertising,1999-03-15,48,NULL

In [6]:
SELECT * FROM Employee WHERE Department in('Sales','Shipping')

EployeeId,Name,Department,Hire_date,Training,Location
1234,J. Jones,Sales,1992-06-18,24,NULL
3456,A. Adams,Sales,1998-11-18,60,NULL
6789,C. Cole,Shipping,1991-08-18,32,NULL
7890,E. Elllis,Sales,1998-12-15,80,NULL

In [7]:
SELECT * FROM Employee 
WHERE [Hire_date] BETWEEN '1991-01-01' AND '1998-12-31'

EployeeId,Name,Department,Hire_date,Training,Location
1234,J. Jones,Sales,1992-06-18,24,NULL
2345,S. Smith,Production,1998-02-12,40,NULL
3456,A. Adams,Sales,1998-11-18,60,NULL
6789,C. Cole,Shipping,1991-08-18,32,NULL
7890,E. Elllis,Sales,1998-12-15,80,NULL

In [8]:
SELECT * INTO NewTable FROM Employee WHERE 1=2

In [9]:
SELECT * FROM NewTable

In [10]:
SELECT * FROm Employee WHERE Training > 40

EployeeId,Name,Department,Hire_date,Training,Location
3456,A. Adams,Sales,1998-11-18,60,NULL
5678,D. Davis,Production,1999-07-26,56,NULL
7890,E. Elllis,Sales,1998-12-15,80,NULL
9012,G. Gates,Advertising,1999-03-15,48,NULL

In [11]:
DELETE FROM Employee WHERE Training > 60

In [12]:
SELECT * FROM Employee

EployeeId,Name,Department,Hire_date,Training,Location
1234,J. Jones,Sales,1992-06-18,24,NULL
2345,S. Smith,Production,1998-02-12,40,NULL
3456,A. Adams,Sales,1998-11-18,60,NULL
4567,B. Bates,Advertising,1985-03-10,16,NULL
5678,D. Davis,Production,1999-07-26,56,NULL
6789,C. Cole,Shipping,1991-08-18,32,NULL
8901,F. Files,Advertising,1990-10-17,24,NULL
9012,G. Gates,Advertising,1999-03-15,48,NULL

In [13]:
ALTER TABLE Employee DROP COLUMN [Hire_date]

In [14]:
SELECT * FROM Employee

EployeeId,Name,Department,Training,Location
1234,J. Jones,Sales,24,NULL
2345,S. Smith,Production,40,NULL
3456,A. Adams,Sales,60,NULL
4567,B. Bates,Advertising,16,NULL
5678,D. Davis,Production,56,NULL
6789,C. Cole,Shipping,32,NULL
8901,F. Files,Advertising,24,NULL
9012,G. Gates,Advertising,48,NULL

In [16]:
ALTER TABLE [Employee] ALTER COLUMN [Department][varchar]

: Msg 2628, Level 16, State 1, Line 1
String or binary data would be truncated in table 'EmployeeDetail.dbo.Employee', column 'Department'. Truncated value: ''.

In [21]:
INSERT INTO Employee(EployeeId,Name,Department,Training) VALUES ('9015','Raghu','SE','55')

In [22]:
SELECT * FROM Employee

EployeeId,Name,Department,Training,Location
1234,J. Jones,Sales,24,NULL
2345,S. Smith,Production,40,NULL
3456,A. Adams,Sales,60,NULL
4567,B. Bates,Advertising,16,NULL
5678,D. Davis,Production,56,NULL
6789,C. Cole,Shipping,32,NULL
9015,Raghu,SE,55,NULL
8901,F. Files,Advertising,24,NULL
9012,G. Gates,Advertising,48,NULL