In [1]:
SELECT * FROM Employee_detail WHERE FirstName like '[^a-p]%';

Empid,FirstName,Lastname,Salary,JoiningDate,Department,Gender
1,Vikas,Ahlawat,600000.00,2015-02-15 00:00:00.000,IT,Male

In [3]:
SELECT * FROM Employee_detail WHERE Gender LIKE '__le' ;

Empid,FirstName,Lastname,Salary,JoiningDate,Department,Gender
1,Vikas,Ahlawat,600000.00,2015-02-15 00:00:00.000,IT,Male
3,Ashish,Kumar,1000000.00,2014-09-01 00:00:00.000,IT,Male
4,Nikil,Sharma,480000.00,2014-01-09 00:00:00.000,HR,Male
5,Anish,Kadan,500000.00,2014-01-09 00:00:00.000,Payroll,Male

In [4]:
SELECT * FROM Employee_detail WHERE FirstName LIKE 'A_____' ;

Empid,FirstName,Lastname,Salary,JoiningDate,Department,Gender
3,Ashish,Kumar,1000000.00,2014-09-01 00:00:00.000,IT,Male

In [5]:
SELECT Distinct(Department) FROM Employee_detail ;

Department
HR
IT
Payroll

In [6]:
SELECT MAX(Salary), MIN(Salary) FROM Employee_detail ;

(No column name),(No column name)
1000000.00,480000.00

In [9]:
SELECT Convert(date, JoiningDate) from Employee_detail ;

(No column name)
2015-02-15
2017-09-01
2014-09-01
2014-01-09
2014-01-09

In [16]:
SELECT * FROM Employee_detail WHERE FirstName IN ('Vikas', 'Akash', 'Nikil');

Empid,FirstName,Lastname,Salary,JoiningDate,Department,Gender
1,Vikas,Ahlawat,600000.00,2015-02-15 00:00:00.000,IT,Male
4,Nikil,Sharma,480000.00,2014-01-09 00:00:00.000,HR,Male

In [17]:
SELECT * FROM Employee_detail WHERE FirstName NOT IN ('Vikas', 'Akash', 'Nikil');

Empid,FirstName,Lastname,Salary,JoiningDate,Department,Gender
2,Nikita,Jain,530000.00,2017-09-01 00:00:00.000,HR,Female
3,Ashish,Kumar,1000000.00,2014-09-01 00:00:00.000,IT,Male
5,Anish,Kadan,500000.00,2014-01-09 00:00:00.000,Payroll,Male

In [19]:
SELECT FirstName, SUBSTRING(Gender, 1,1) FROM Employee_detail;

FirstName,(No column name)
Vikas,M
Nikita,F
Ashish,M
Nikil,M
Anish,M

In [22]:
SELECT 'Hello  ' + FirstName FROM Employee_detail;

(No column name)
Hello Vikas
Hello Nikita
Hello Ashish
Hello Nikil
Hello Anish

In [23]:
SELECT MAX(Salary) FROM Employee_detail WHERE Salary < (SELECT Max(Salary) FROM Employee_detail);

(No column name)
600000.00